<header class="mdc-top-app-bar mdc-top-app-bar--fixed" mdcTopAppBar>
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <!--<button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
              (click)="drawer.toggle()">menu
      </button>-->
      <span class="mdc-top-app-bar__title">Feature toggles</span>
    </section>
  </div>
</header>

<!--<aside class="mdc-drawer mdc-drawer&#45;&#45;dismissible mdc-top-app-bar&#45;&#45;fixed-adjust" mdcDrawer #drawer="mdcDrawer">
  <div class="mdc-drawer__content">
    <div class="mdc-list">
      <a class="mdc-list-item mdc-list-item&#45;&#45;activated" href="#" aria-current="page">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
        <span class="mdc-list-item__text">Inbox</span>
      </a>
      <a class="mdc-list-item" href="#">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
        <span class="mdc-list-item__text">Outgoing</span>
      </a>
      <a class="mdc-list-item" href="#">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
        <span class="mdc-list-item__text">Drafts</span>
      </a>
    </div>
  </div>
</aside>-->

<div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">

  <main class="ft-main-content">
    <ft-features-list [data]="data"></ft-features-list>
  </main>

  <button type="button" class="mdc-fab ft-fab-absolute" aria-label="Add feature" mdcFab
          [routerLink]="['/features', 'new']">
    <div class="mdc-fab__ripple"></div>
    <span class="mdc-fab__icon material-icons">add</span>
  </button>

</div>
