<header class="mdc-top-app-bar mdc-top-app-bar--fixed" mdcTopAppBar>
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <h1 class="mdc-top-app-bar__title">Feature toggles</h1>
    </section>
  </div>
</header>

<div class="mdc-top-app-bar--fixed-adjust" role="presentation">

  <main class="ft-main-content">
    <ft-features-list [data]="data"></ft-features-list>
  </main>

  <button [routerLink]="['/features', 'new']" aria-label="Add feature" class="mdc-fab ft-fab-absolute" mdcFab
          type="button">
    <div class="mdc-fab__ripple"></div>
    <span class="mdc-fab__icon material-icons">add</span>
  </button>

</div>
