<form (ngSubmit)="submit()" [formGroup]="form" class="ft-form">

  <label class="mdc-text-field" mdcTextField>
    <span class="mdc-text-field__ripple"></span>
    <input aria-labelledby="name-id" autofocus class="mdc-text-field__input" formControlName="name" type="text">
    <span [ngClass]="{'mdc-floating-label--float-above': form.get('name').value}" class="mdc-floating-label"
          id="name-id">Name</span>
    <span class="mdc-line-ripple"></span>
  </label>

  <label class="mdc-text-field" mdcTextField>
    <span class="mdc-text-field__ripple"></span>
    <input aria-labelledby="description-id" class="mdc-text-field__input" formControlName="description" type="text">
    <span [ngClass]="{'mdc-floating-label--float-above': form.get('description').value}" class="mdc-floating-label"
          id="description-id">Description</span>
    <span class="mdc-line-ripple"></span>
  </label>

  <div class="ft-form-controls">

    <div class="mdc-touch-target-wrapper">
      <button (click)="cancel()" class="mdc-button" mdcButton type="button">
        <span class="mdc-button__ripple"></span>
        Cancel
      </button>
    </div>

    <div class="mdc-touch-target-wrapper">
      <button [disabled]="!form.valid" class="mdc-button mdc-button--unelevated" mdcButton type="submit">
        <span class="mdc-button__ripple"></span>
        Save
      </button>
    </div>

  </div>

</form>
