<form (ngSubmit)="submit()" [formGroup]="form" class="ft-form" novalidate>

  <label [required]="true" [valid]="!(form.errors?.key && (form.get('key').dirty || form.get('key').touched))"
         [value]="form.get('key').value" class="mdc-text-field mdc-text-field--filled"
         mdcTextField>
    <span class="mdc-text-field__ripple"></span>
    <input aria-controls="key-helper-text-id" aria-describedby="key-helper-text-id" aria-labelledby="key-id"
           autofocus
           class="mdc-text-field__input" formControlName="key" type="text">
    <span class="mdc-floating-label" id="key-id">Key</span>
    <span class="mdc-line-ripple"></span>
  </label>
  <div aria-hidden="true" class="mdc-text-field-helper-line" id="key-helper-text-id">
    <div *ngIf="form.errors?.key && (form.get('key').dirty || form.get('key').touched); else noKeyErrors"
         class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg"
         mdcTextFieldHelperText>
      {{form.errors?.key}}
    </div>
    <ng-template #noKeyErrors>
      <div class="mdc-text-field-helper-text" mdcTextFieldHelperText>This will be used as key in the
        response object
      </div>
    </ng-template>
  </div>

  <label [valid]="!(form.errors?.description && (form.get('description').dirty || form.get('description').touched))"
         [value]="form.get('description').value"
         class="mdc-text-field mdc-text-field--filled"
         mdcTextField>
    <span class="mdc-text-field__ripple"></span>
    <input aria-controls="description-helper-text-id" aria-describedby="description-helper-text-id"
           aria-labelledby="description-id" class="mdc-text-field__input" formControlName="description"
           type="text">
    <span class="mdc-floating-label" id="description-id">Description</span>
    <span class="mdc-line-ripple"></span>
  </label>
  <div aria-hidden="true" class="mdc-text-field-helper-line" id="description-helper-text-id">
    <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" mdcTextFieldHelperText>
      {{form.errors?.description}}
    </div>
  </div>

  <div (onChange)="form.get('type').setValue($event)" [required]="true"
       [valid]="!(form.errors?.type && (form.get('type').dirty || form.get('type').touched))"
       [value]="form.get('type').value"
       class="mdc-select mdc-select--filled" mdcSelect>
    <div class="mdc-select__anchor"
         role="button"
         aria-haspopup="listbox"
         aria-expanded="false"
         aria-labelledby="type-label-id type-selected-text-id">
      <div class="mdc-line-ripple"></div>
      <span class="mdc-floating-label" id="type-label-id">Type</span>
      <span class="mdc-select__selected-text-container">
        <span id="type-selected-text-id" class="mdc-select__selected-text"></span>
      </span>
      <span class="mdc-select__dropdown-icon">
        <span class="mdc-select__dropdown-icon-graphic">
        <span class="mdc-select__dropdown-icon-inactive material-icons">arrow_drop_down</span>
        <span class="mdc-select__dropdown-icon-active material-icons">arrow_drop_up</span>
          </span>
      </span>
    </div>
    <div class="mdc-select__menu mdc-menu mdc-menu-surface" role="listbox">
      <ul class="mdc-list" role="listbox" aria-label="Type">
        <li aria-selected="false" class="mdc-list-item" data-value="boolean" role="option">
          <span class="mdc-list-item__ripple"></span>
          <span class="mdc-list-item__text">Toggle</span>
        </li>
        <li aria-selected="false" class="mdc-list-item" data-value="string" role="option">
          <span class="mdc-list-item__ripple"></span>
          <span class="mdc-list-item__text">String</span>
        </li>
        <li aria-selected="false" class="mdc-list-item" data-value="number" role="option">
          <span class="mdc-list-item__ripple"></span>
          <span class="mdc-list-item__text">Number</span>
        </li>
      </ul>
    </div>
  </div>
  <div aria-hidden="true" class="mdc-select-helper-text mdc-select-helper-text--validation-msg" id="type-helper-text-id"
       mdcSelectHelperText>
    {{form.errors?.type}}
  </div>

  <ng-container [ngSwitch]="form.get('type').value">
    <ng-container *ngSwitchCase="types.Boolean">
      <div class="ft-switch" role="presentation">
        <div class="mdc-switch" mdcSwitch>
          <div class="mdc-switch__track"></div>
          <div class="mdc-switch__thumb-underlay">
            <div class="mdc-switch__thumb"></div>
            <input [attr.aria-checked]="form.get('value').value === true" class="mdc-switch__native-control"
                   formControlName="value" id="value-boolean-id"
                   role="switch" type="checkbox">
          </div>
        </div>
        <label for="value-boolean-id">Value</label>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="types.Number">
      <label [required]="true" [valid]="!(form.errors?.value && (form.get('value').dirty || form.get('value').touched))"
             [value]="form.get('value').value" class="mdc-text-field mdc-text-field--filled"
             mdcTextField>
        <span class="mdc-text-field__ripple"></span>
        <input aria-controls="value-number-helper-text-id" aria-describedby="value-number-helper-text-id"
               aria-labelledby="value-number-id" class="mdc-text-field__input" formControlName="value"
               type="number">
        <span class="mdc-floating-label" id="value-number-id">Value</span>
        <span class="mdc-line-ripple"></span>
      </label>
      <div aria-hidden="true" class="mdc-text-field-helper-line" id="value-number-helper-text-id">
        <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" mdcTextFieldHelperText>
          {{form.errors?.value}}
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="types.String">
      <label [required]="true" [valid]="!(form.errors?.value && (form.get('value').dirty || form.get('value').touched))"
             [value]="form.get('value').value" class="mdc-text-field mdc-text-field--filled"
             mdcTextField>
        <span class="mdc-text-field__ripple"></span>
        <input aria-controls="value-string-helper-text-id" aria-describedby="value-string-helper-text-id"
               aria-labelledby="value-string-id" class="mdc-text-field__input" formControlName="value"
               type="text">
        <span class="mdc-floating-label" id="value-string-id">Value</span>
        <span class="mdc-line-ripple"></span>
      </label>
      <div aria-hidden="true" class="mdc-text-field-helper-line" id="value-string-helper-text-id">
        <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" mdcTextFieldHelperText>
          {{form.errors?.value}}
        </div>
      </div>
    </ng-container>
  </ng-container>

  <pre class="ft-feature-preview">{{preview}}</pre>

  <div class="ft-form-controls">

    <div class="mdc-touch-target-wrapper">
      <button (click)="cancel()" class="mdc-button" mdcButton type="button">
        <span class="mdc-button__ripple"></span>
        Cancel
      </button>
    </div>

    <div class="mdc-touch-target-wrapper">
      <button [disabled]="!form.valid" class="mdc-button mdc-button--unelevated" mdcButton type="submit">
        <span class="mdc-button__ripple"></span>
        Save
      </button>
    </div>

  </div>

</form>
