<form (ngSubmit)="submit()" [formGroup]="form" class="ft-form" novalidate>

  <label [mdcTextField]="form.get('key')" [required]="true" class="mdc-text-field">
    <span class="mdc-text-field__ripple"></span>
    <input aria-controls="key-helper-text-id" aria-describedby="key-helper-text-id" aria-labelledby="key-id"
           autofocus
           class="mdc-text-field__input" formControlName="key" type="text">
    <span class="mdc-floating-label" id="key-id">Key</span>
    <span class="mdc-line-ripple"></span>
  </label>
  <div aria-hidden="true" class="mdc-text-field-helper-line" id="key-helper-text-id">
    <div *ngIf="form.get('key').errors; else noNameErrors"
         class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg"
         mdcTextFieldHelperText>
      <ft-validation-message [errors]="form.get('key').errors"></ft-validation-message>
    </div>
    <ng-template #noNameErrors>
      <div class="mdc-text-field-helper-text" mdcTextFieldHelperText>This will be used as key in the
        response object
      </div>
    </ng-template>
  </div>

  <label [mdcTextField]="form.get('description')" class="mdc-text-field">
    <span class="mdc-text-field__ripple"></span>
    <input aria-controls="description-helper-text-id" aria-describedby="description-helper-text-id"
           aria-labelledby="description-id" class="mdc-text-field__input" formControlName="description"
           type="text">
    <span class="mdc-floating-label" id="description-id">Description</span>
    <span class="mdc-line-ripple"></span>
  </label>
  <div aria-hidden="true" class="mdc-text-field-helper-line" id="description-helper-text-id">
    <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" mdcTextFieldHelperText>
      <ft-validation-message [errors]="form.get('key').errors"></ft-validation-message>
    </div>
  </div>

  <div [mdcSelect]="form.get('type')" [required]="true" class="mdc-select">
    <div class="mdc-select__anchor">
      <span class="mdc-select__dropdown-icon"></span>
      <div aria-controls="type-helper-text-id" aria-describedby="type-helper-text-id"
           aria-haspopup="listbox" aria-labelledby="type-label-id type-selected-text-id"
           class="mdc-select__selected-text" id="type-selected-text-id"
           role="button"></div>
      <span class="mdc-floating-label" id="type-label-id">Type</span>
      <div class="mdc-line-ripple"></div>
    </div>
    <div class="mdc-select__menu mdc-menu mdc-menu-surface" role="listbox">
      <ul class="mdc-list">
        <li class="mdc-list-item" data-value="boolean" role="option" aria-selected="false">Toggle</li>
        <li class="mdc-list-item" data-value="string" role="option" aria-selected="false">String</li>
        <li class="mdc-list-item" data-value="number" role="option" aria-selected="false">Number</li>
      </ul>
    </div>
  </div>
  <div aria-hidden="true" class="mdc-select-helper-text mdc-select-helper-text--validation-msg" id="type-helper-text-id"
       mdcSelectHelperText>
    <ft-validation-message [errors]="form.get('type').errors"></ft-validation-message>
  </div>

  <ng-container [ngSwitch]="form.get('type').value">
    <ng-container *ngSwitchCase="types.Boolean">
      <div class="ft-switch" role="presentation">
        <div class="mdc-switch" mdcSwitch>
          <div class="mdc-switch__track"></div>
          <div class="mdc-switch__thumb-underlay">
            <div class="mdc-switch__thumb"></div>
            <input [attr.aria-checked]="form.get('value').value === true" class="mdc-switch__native-control"
                   formControlName="value" id="value-boolean-id"
                   role="switch" type="checkbox">
          </div>
        </div>
        <label for="value-boolean-id">Off/On</label>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="types.Number">
      <label [mdcTextField]="form.get('value')" [required]="true" class="mdc-text-field">
        <span class="mdc-text-field__ripple"></span>
        <input aria-controls="value-number-helper-text-id" aria-describedby="value-number-helper-text-id"
               aria-labelledby="value-number-id" class="mdc-text-field__input" formControlName="value"
               type="number">
        <span class="mdc-floating-label" id="value-number-id">Value</span>
        <span class="mdc-line-ripple"></span>
      </label>
      <div aria-hidden="true" class="mdc-text-field-helper-line" id="value-number-helper-text-id">
        <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" mdcTextFieldHelperText>
          <ft-validation-message [errors]="form.get('value').errors"></ft-validation-message>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="types.String">
      <label [mdcTextField]="form.get('value')" [required]="true" class="mdc-text-field">
        <span class="mdc-text-field__ripple"></span>
        <input aria-controls="value-string-helper-text-id" aria-describedby="value-string-helper-text-id"
               aria-labelledby="value-string-id" class="mdc-text-field__input" formControlName="value"
               type="text">
        <span class="mdc-floating-label" id="value-string-id">Value</span>
        <span class="mdc-line-ripple"></span>
      </label>
      <div aria-hidden="true" class="mdc-text-field-helper-line" id="value-string-helper-text-id">
        <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" mdcTextFieldHelperText>
          <ft-validation-message [errors]="form.get('value').errors"></ft-validation-message>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <pre class="ft-feature-preview">{{preview}}</pre>

  <div class="ft-form-controls">

    <div class="mdc-touch-target-wrapper">
      <button (click)="cancel()" class="mdc-button" mdcButton type="button">
        <span class="mdc-button__ripple"></span>
        Cancel
      </button>
    </div>

    <div class="mdc-touch-target-wrapper">
      <button [disabled]="!form.valid" class="mdc-button mdc-button--unelevated" mdcButton type="submit">
        <span class="mdc-button__ripple"></span>
        Save
      </button>
    </div>

  </div>

</form>
